/.idea/
/venv/
/testdataset/MeshroomCache/
/testdataset/console_one_piece_output/Texturing/ABF/log
/testdataset/console_one_piece_output/Texturing/ABF/statistics
/testdataset/console_one_piece_output/Texturing/ABF/status
/testdataset/console_one_piece_output/Texturing/basic/log
/testdataset/console_one_piece_output/Texturing/basic/statistics
/testdataset/console_one_piece_output/Texturing/basic/status
/testdataset/console_one_piece_output/Texturing/LSCM/log
/testdataset/console_one_piece_output/Texturing/LSCM/statistics
/testdataset/console_one_piece_output/Texturing/LSCM/status
/testdataset/console_good/Texturing/basic106charts/statistics
/testdataset/console_good/Texturing/LSCM/log
/testdataset/console_good/Texturing/ABF/log
/testdataset/console_good/Texturing/ABF/statistics
/testdataset/console_good/Texturing/basic106charts/log
/testdataset/console_good/Texturing/LSCM/statistics
/testdataset/console_good/Texturing/ABF/status
/testdataset/console_good/Texturing/basic106charts/status
/testdataset/console_good/Texturing/LSCM/status
